# Ignore everything
# *
/outputs
/train_images
/.idea
src/__pycache__/
src/secrets.py
src/scratch_pad.py
# /stock_history


# But not these files...
!.gitignore
# etc...

# ...even if they are in subdirectories
# !/src

# if the files to be tracked are in subdirectories
# !*/a/b/file1.txt
# !*/a/b/c/*